@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1646 Pheasant Way<br />
    Park City, UT 84098<br />
    <abbr title="Phone">P:</abbr>
    435-901-9373
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@davidsolum.com">Support@davidsolum.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@davidsolum.com">Marketing@davidsolum.com</a>
</address>